body {
  background: black;
  color: #fff !important;
  font-family: monospace !important;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

#main {
  padding: 2rem;
  height: 100vh;
}

#view {
  width: 100%;
  height: 80vh;
  overflow: auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

div.terminal-block {
  white-space: pre;
  > div {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

a {
  color: #fff !important;
}
